<div style="padding: 13px;">
  <mat-spinner *ngIf="toDoList.length === 0"></mat-spinner>

  <mat-card *ngFor="let toDo of toDoList" style="margin-top:10px;">
      <mat-card-header>
          <mat-card-title>{{toDo.id}}</mat-card-title>
          <mat-card-subtitle>{{toDo.isDone}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>
              {{toDo.description}}
          </p>
      </mat-card-content>
      <mat-card-actions>
    <button mat-button> Buy product</button>
  </mat-card-actions>
  </mat-card>
</div>
