<div style="padding: 13px;">
  <mat-spinner *ngIf="toDoList.length === 0"></mat-spinner>

  <mat-card *ngFor="let toDo of toDoList" style="margin-top:10px;">
      <mat-card-header>
          <mat-card-title>{{toDo.id}}</mat-card-title>
          <mat-card-subtitle>Feito ? {{toDo.done ? 'Sim' : 'Não'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>
              {{toDo.description}}
          </p>
      </mat-card-content>
  </mat-card>
  <button mat-raised-button color="primary">New TO-DO</button>
</div>
